.mainContent_maindiv{
    
    margin-left: 70px;
    width: 100%;
    background-color: #fafafa;
    display: block;
    position: absolute;
    margin-top: 50px;
    /* border: solid; */
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    overflow-y: scroll;
    /* padding: 5px; */
    /* overflow: hidden; */
}



.mainContent_innerdiv{
     width: 100%;
}