#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-top: 30px;
    width: 90%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #156fb8;
    color: white;
  }
  .ordertable{
    width:100%;
  }
  .ordertable h5{
    color: #111;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
  }
  .ordertable .btn-notify.regular {
    background: #66c166;
    border: none;
    text-shadow: none;
    color: #fff;
}
.ordertable .btn.btn-notify input[type="radio"] {
    position: absolute;
    left: -9999em;
}
.ordertable .btn-notify.regular {
    background: #66c166;
    border: none;
    text-shadow: none;
    color: #fff;
}
.ordertable .btn-notify.express {
    background: #ff4c4c;
    border: none;
    text-shadow: none;
    color: #fff;
}
.bs-example {
    margin: 20px;
}
.rightpartNew {
    padding: 15px;
}
table {
    border: solid 1px;
    margin: 0 auto;
}

table td, table th {
    padding: 50px;
}

.error {
    color: indianred;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}



.wide-form .form-group {
    margin-top: 10px;
}

.wide-form .form-group input ,.wide-form .form-group textarea {
    padding: 5px;
    width: 250px;
}

.wide-form .form-group .rw-widget-input{
     width: 250px;
 }

.wide-form .form-group label {
    width: 100%;
}
.wide-form .form-footer {
    padding-right: 10%;
    width: 100%;
    text-align: right;
}

.ReactTable .rt-thead.-header{
    background: #514943;
    color: white;
    font-weight: bold;
}
.ReactTable .rt-thead.-filters{background: #f5f5f5;}
.ReactTable .rt-tbody{background: #fff;}
.ReactTable .rt-td{
    align-self: center;
}
.ReactTable .rt-tr.-even{
    background: #f5f5f5!important;
}

.addAttributeForm {
    padding: 40px 200px;
}

.addAttributeForm .formRow {
    display: flex;
    align-items: center;
}
 
.addAttributeForm .formRow label {
    margin-right: 20px;
    margin-bottom: 0;
    width: 200px;
    text-align: right;
}
.address-field-form {
    padding: 40px 200px;
    margin-top: 60px;
}
.address-field-form .formRow {
    display: flex;
    align-items: center;
}
.address-field-form .formRow label {
    margin-right: 20px;
    margin-bottom: 0;
    width: 260px;
    text-align: right;
}
.address-field-form .formRow label::after {
    content: "*";
    color: red;
}
.address-field-form .messageWrapper .errorMessage {
    display: block;
    color: red;
    margin-bottom: 5px;
    padding-left: 200px;
}

.addAttributeForm .formRow label::after {
    content: "*";
    color: red;
}

.addAttributeForm .messageWrapper {
    padding-top: 10px;
    padding-left: 95px;
}

.addAttributeForm .messageWrapper .errorMessage {
    display: block;
    color: red;
    margin-bottom: 5px;
}

.addAttributeForm .messageWrapper .otherMessage {
    display: block;
    font-size: .75rem;
}

#attribute_name {
    width: 500px;
}
.message-padding{
    padding-left: 203px;
    padding-top: 5px;
}
.giftcard-template{
    padding-top: 70px;
}
.clear{
    clear: both;
}
.form-search{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
 
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.hublist {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
}
.container h5 {
  color: #111;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
}
.container .btn-notify.regular {
  background: #66c166;
  border: none;
  text-shadow: none;
  color: #fff;
}
.container .btn-notify.express {
  background: #ff4c4c;
  border: none;
  text-shadow: none;
  color: #fff;
}
.container .hublist li {
    width: 100%;
}
.hublist li {
  display: inline-block;
  vertical-align: top;
  width: calc((100% - 20px) / 3);
  margin-right: 10px;
  margin-bottom: 10px;
}
.hublist li a {
  display: block;
  padding: 10px;
  border-radius: 3px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #156FB8;
  color: #333;
  text-decoration: none;
}
.hublist li a.active {
  background: #156FB8;
  color: #fff;
}
.listdrop {
  border: 1px solid #E0E3E9;
  padding: 5px;
  font-weight: 300;
  border-radius: 5px;
}
.drpstyle {
  width: 100%;
  border: none;
  background: none;
  padding: 8px 15px;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #e0e3e9;
  margin: 0 0 5px 0;
  border-radius: 5px;
}